body {
    margin: 0;
    background: darkgray;
}

#game {
    width: 1024px;
    height: 600px;
    margin: 0 auto;
}

#github-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
